process {
    resourceLimits = [ 
        cpus: 16
    ]

    withName: PICRUST {
        ext.args = "--stratified"
    }

    withLabel: process_high {
        cpus = 16
    }

    withName: /DADA2.*/ {
        container = "biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0"
    }
}

params {
    binned_quality = false
}